@model InputFileModel
@{
    ViewData["Title"] = "Analyzer";
}

<div class="text-center">

    <form enctype="multipart/form-data" method="post">
        <dl>
            <dt>
                <label asp-for="uploadFile">Upload:</label>
            </dt>
            <dd>
                <input asp-for="uploadFile" type="file">
                <span asp-validation-for="uploadFile">You must upload a .txt file.</span>
            </dd>
        </dl>
        <button asp-action="Analyze" type="submit" value="Analyze">Analyze</button>
    </form>
</div>
